.div {
  background-color: rebeccapurple;
}

.missionHeader {
  display: flex;
  gap: 1rem;
}

.missionCreateria {
  display: flex;
}

.missionCreateriaLabel {
  margin-left: 1rem;
}

.button {
  cursor: pointer;
  padding: .75rem;
}
